body {
  display: flex;
  justify-content: center;
  alight-items: center;
  height: 100vh;
  background-color: rgb(59, 4, 59);
}

h1 {
  font-size: 15rem;
  font-family: Montserrat;
}

.letter {
  transition: color 1000ms;
}
